doctype 5
html
  head
    title= title
    != css('client')
  body.userNotFetched
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.brand(href='/') Home
          p.navbar-text.pull-right
            ul.nav.pull-right
              li.dropdown.withUser
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  span#currentUser
                  &nbsp;
                  b.caret
                ul.dropdown-menu(role='menu')
                  li
                    a(href='/me') Profile
                  li.divider
                  li
                    a#signOutButton(href='#') Sign out
              li.withoutUser
                a#signInButton(href='#signInModal', data-toggle='modal', data-target='#signInModal') Sign in
    #main.container-fluid
      block content
    include users/signInModal
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js', type='text/javascript')
    script(src='/js/templates.js', type='text/javascript')
    != js('client')
