#signInModal.modal.hide.fade
  .modal-header
    button.close(data-dismiss='modal') &times;
    h3 Sign In or Sign Up
  .modal-body
    h4 Use one of the following options:
    ul
      li
        a(href='/auth/twitter', target='_blank') Twitter
      li
        a(href='/auth/facebook', target='_blank') Facebook
  .modal-footer
    a.btn(href='#', data-dismiss='modal') Cancel
