#signInModal.modal.hide.fade
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidde='true') &times;
    h3 Sign In
  .modal-body
    p This is where we should put different sign-in options.
  .modal-footer
    a.btn.btn-primary(href='#') Sign In
